<section style="width: 90%; margin:auto">
    Dear ##name##,
    <p>
        Kindly click on the link below to reset your password for email ##email##. Note that this would within in 20 minutes of receiving this mail.
    </p>
    <p>
        <a href="https://www.onadebi.com/reset-password/##token##?email=##email##">Click here to reset email password</a>
        <br />
        You can also copy link and paste in your browser to activate email.
    <p>
        <a href="https://www.onadebi.com/reset-password/##token##?email=##email##">https://www.onadebi.com/reset-password/##token##?email=##email##</a>
    </p>
    
    <p>
        <sub style="text-align:center; padding: 5px">
            If this request was not made by you, kindly ignore the email, <a href="mailto:onasonic@outlook.com" target="_blank">Contact us</a> or consider updating your password.
        </sub>
    </p>
</section>