<section style="width: 90%; margin:auto">
    Dear ##name##,
    <p>
        Kindly click on the link below to confirm your email. Note that this would expire in 10 minutes.
    </p>
    <p>
        <a href="https://www.onadebi.com/confirm-email/##token##?guid=##guid##">Click here to confirm email</a>
        <br />
        You can also copy link and paste in your browser to activate email.
    <p>
        <a href="https://www.onadebi.com/confirm-email/##token##?guid=##guid##">https://www.onadebi.com/confirm-email/##token##?guid=##guid##</a>
    </p>
    </p>
</section>